services:
    jenkins:
        container_name: jenkins
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            JAVA_OPTS: "-Dorg.jenkinsci.plugins.durabletask.BourneShellScript.LAUNCH_DIAGNOSTICS=true"
            JENKINS_GITHUB_CREDENTIALS_FILE: /run/secrets/github.credentials
            JENKINS_GITHUB_EMAIL: ${CFG_EMAIL:?}
            JENKINS_GITHUB_NAME: ${CFG_NAME:?}
            JENKINS_OPTS: "--prefix=/jenkins"
            DOCKER_CERT_PATH: /etc/certs
            DOCKER_TLS_VERIFY: 1
        hostname: jenkins.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/jenkins/${JENKINS_VERSION:-2.479.2}:${CONTAINER_TAG:-e6ba5157a0eef02be75db36690b5ab6414b1b492a47341a475732f4198b47a14}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
            - "8070:8080"
            - "50000:50000"
        restart: unless-stopped
        secrets:
            - github.credentials
        volumes:
            - ./jenkins/jenkins_home:/var/jenkins_home
            - ~/.ssh:/var/ssh
            - ./jenkins/log:/var/log
            - /var/run/docker.sock:/var/run/docker.sock
            - /var/lib/docker:/var/lib/dockers
            - /etc/docker:/etc/docker
            - ./.secrets/ssl:/etc/certs


    nginx:
        container_name: nginx
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        depends_on:
            - jenkins
            - webdav
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
#            NGINX_DEBUG: 1
#            PWD_PROTECTED: 'false'
            NGINX_LOG_ACCESS: 'syslog:server=10.3.1.4:514,tag=nginx_access json'
            NGINX_LOG_ERRORS: 'syslog:server=10.3.1.4:514,tag=nginx_error notice'
            SUPERVISORD_PASS_FILE: /run/secrets/supervisord.pwd
            SUPERVISORD_USER: ${CFG_USER:?}
            WEB_USER_ID: ${CFG_USER:?}
            WEB_USER_PASS_FILE: /run/secrets/web_user.pwd
        hostname: nginx.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/nginx-proxy/${NGINX_VERSION:-1.26.2}:${CONTAINER_TAG:-05cbb0c7d8c4f67ea536ad3356dfea13be760fe9bba3aaf2b09ef182b41c5ac2}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
#            - "80:80"
            - "443:443"
            - "9005:9001"
        restart: unless-stopped
        secrets:
            - supervisord.pwd
            - web_user.pwd
            - server.crt
            - server.key
            - dhparam.pem
        volumes:
            - ./nginx/log:/var/log
            - ./www:/var/www
            - ./nginx/conf.d:/etc/nginx/proxy.conf


    webdav:
        container_name: webdav
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            WEBDAV_USER: ${CFG_USER:?}
            WEBDAV_PASS_FILE: /run/secrets/webdav.pwd
        hostname: webdav.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/webdav:${CONTAINER_TAG:-ab9231f9e4e445f0d501cbccea23082afa28be51b74ca3f78c6bbcc3c1505cb6}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
            - "8007:80"
        restart: unless-stopped
        secrets:
            - webdav.pwd
        volumes:
#            - /mnt/Synology:/webdav/nas:ro
            - ~:/webdav/home:ro
            - /:/webdav/root:ro
            - ../logs:/webdav/logs:ro
            - ./webdav/log:/var/log


networks:
   support-net:
       ipam:
           config:
               - subnet: 172.31.1.0/24
       name: support-container-net

secrets:
   github.credentials:
     file: .secrets/secrets/credentials.github
   mysql.pwd:
     file: .secrets/secrets/bobb.pwd
   mysql_root.pwd:
     file: .secrets/secrets/bobb.pwd
   nagios.pwd:
     file: .secrets/secrets/bobb.pwd
   pma.pwd:
     file: .secrets/secrets/bobb.pwd
   supervisord.pwd:
     file: .secrets/secrets/bobb.pwd
   slack.token:
     file: .secrets/secrets/hubot_token.slack
   web_user.pwd:
     file: .secrets/secrets/bobb.pwd
   webdav.pwd:
     file: .secrets/secrets/bobb.pwd
   server.crt:
     file: .secrets/ssl/server.crt
   server.key:
     file: .secrets/ssl/server.key
   dhparam.pem:
     file: .secrets/ssl/dhparam.pem
