version: '3.5'

services:
    jenkins:
        container_name: jenkins
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            JAVA_OPTS: "-Dorg.jenkinsci.plugins.durabletask.BourneShellScript.LAUNCH_DIAGNOSTICS=true"
            JENKINS_GITHUB_CREDENTIALS_FILE: /run/secrets/github.credentials
            JENKINS_GITHUB_EMAIL: ${CFG_EMAIL:?}
            JENKINS_GITHUB_NAME: ${CFG_NAME:?}
            JENKINS_OPTS: "--prefix=/jenkins"
            DOCKER_CERT_PATH: /etc/certs
            DOCKER_TLS_VERIFY: 1
        hostname: jenkins.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/jenkins/${JENKINS_VERSION:-2.414.2}:${CONTAINER_TAG:-a35fadbbd6572fab94e864c322ff1e1d1605e2f86b49ffdcd4236d84c2a05bcd}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
            - "8070:8080"
            - "50000:50000"
        restart: unless-stopped
        secrets:
            - github.credentials
        volumes:
            - ./jenkins/jenkins_home:/var/jenkins_home
            - ~/.ssh:/var/ssh
            - ./jenkins/log:/var/log
            - /var/run/docker.sock:/var/run/docker.sock
#            - /usr/bin/docker:/usr/bin/docker
            - /var/lib/docker:/var/lib/docker
            - /etc/docker:/etc/docker
            - ./.secrets/ssl:/etc//certs


    mysql:
#        command: --default-authentication-plugin=mysql_native_password
        container_name: mysql
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            MYSQL_PASSWORD_FILE: /run/secrets/mysql.pwd
            MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root.pwd
            MYSQL_USER: ${CFG_USER:?}
            TZ: America/New_York
        hostname: mysql.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}thirdparty/mysql:${MYSQL_VERSION:-5.7.23}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
            - "3306:3306"
        restart: unless-stopped
        secrets:
            - mysql.pwd
            - mysql_root.pwd
        volumes:
            - ./mysql/conf.d:/etc/mysql/conf.d
            - ./mysql/data:/var/lib/mysql
            - ./mysql/loader:/docker-entrypoint-initdb.d
            - ./mysql/log:/var/log


    nagios:
        container_name: nagios
        depends_on:
            - mysql
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        environment:
#            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            NAGIOS_GITHUB_CREDENTIALS_FILE: /run/secrets/github.credentials
            NAGIOS_GITHUB_EMAIL: ${CFG_EMAIL:?}
            NAGIOS_GITHUB_NAME: ${CFG_NAME:?}
            NAGIOS_LOG_SYSLOG: 1
            NAGIOS_PASS_FILE: /run/secrets/nagios.pwd
            NAGIOS_REPO: github.com/ballab1/DBMS-backup
            NAGIOS_USER: ${CFG_USER:?}
            NCONF_DBHOST: mysql
            NCONF_DBNAME: nconf
            NCONF_DBPASS_FILE: /run/secrets/mysql.pwd
            NCONF_DBUSER: nconf
#            NCONF_DEBUG_GENERATE: 5          # [1=ERROR|2=WARN|3=INFO|4=DEBUG|5=TRACE] 
#            NCONF_DEBUG_MODE: 1              # [0|1] 
#            NGINX_DEBUG: 1
            NGINX_LOG_ACCESS: 'syslog:server=10.3.1.4:514,tag=nginx_access json'
            NGINX_LOG_ERRORS: 'syslog:server=10.3.1.4:514,tag=nginx_error notice'
#            PHP_LOGGING: 1
#            PNP4NAGIOS_LOGLEVEL: 4
            PWD_PROTECTED: 'true'
            SUPERVISORD_PASS_FILE: /run/secrets/supervisord.pwd         
            SUPERVISORD_USER: ${CFG_USER:?}
        extra_hosts:
            - "docker-host:${HOST_IP:?}"
        hostname: nagios.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/nagios/${NAGIOS_VERSION:-4.4.11}:v3.9.10
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
            - "25:25"
            - "8001:80"
            - "9001:9001"
        restart: unless-stopped
        secrets:
            - github.credentials
            - mysql.pwd
            - nagios.pwd
            - supervisord.pwd
        volumes:
            - ~/.inf:/usr/local/nagios/inf
            - ~/.ssh:/var/ssh
            - ./nagios/archives:/var/nagios/archives
            - ./nagios/config:/var/www/nconf/output
            - ./nagios/log:/var/log
            - ./nagios/rrd:/var/nagios/perfdata
            - /var/run/docker.sock:/var/run/docker.sock
#            - /usr/bin/docker:/usr/bin/docker
            - /var/lib/docker:/var/lib/docker


    nginx:
        container_name: nginx
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        depends_on:
            - jenkins
            - nagios
            - phpmyadmin
            - webdav
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
#            NGINX_DEBUG: 1
#            PWD_PROTECTED: 'false'
            NGINX_LOG_ACCESS: 'syslog:server=10.3.1.4:514,tag=nginx_access json'
            NGINX_LOG_ERRORS: 'syslog:server=10.3.1.4:514,tag=nginx_error notice'
            SUPERVISORD_PASS_FILE: /run/secrets/supervisord.pwd
            SUPERVISORD_USER: ${CFG_USER:?}
            WEB_USER_ID: ${CFG_USER:?}
            WEB_USER_PASS_FILE: /run/secrets/web_user.pwd
        hostname: nginx.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/nginx-proxy/${NGINX_VERSION:-1.24.0}:${CONTAINER_TAG:-60205b0e72e58c51d5f087036d2f271fed416747bbce187562d869b196f81fea}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
#            - "80:80"
            - "443:443"
            - "9005:9001"
        restart: unless-stopped
        secrets:
            - supervisord.pwd
            - web_user.pwd
            - server.crt
            - server.key
            - dhparam.pem
        volumes:
            - ./nginx/log:/var/log
            - ./www:/var/www
            - ./nginx/conf.d:/etc/nginx/proxy.conf


    phpmyadmin:
        container_name: phpmyadmin
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        depends_on:
            - mysql
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
#            MYSQL_PASSWORD_FILE: /run/secrets/mysql.pwd
#            MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root.pwd
#            MYSQL_USER: ${CFG_USER:?}
#            PMA_ABSOLUTE_URI: http://${HOST_IP:?}:8002/phpmyadmin
#            PMA_ARBITRARY: 1
            PMA_HOST: mysql
            PMA_PASSWORD_FILE: /run/secrets/pma.pwd
            PMA_PORT: 3306
            PMA_USER: ${CFG_USER:?}
            PMA_VERBOSE: 1
#            NGINX_LOG_ACCESS: 'syslog:server=10.3.1.4:514,tag=nginx_access json'
#            NGINX_LOG_ERRORS: 'syslog:server=10.3.1.4:514,tag=nginx_error notice'
            SUPERVISORD_PASS_FILE: /run/secrets/supervisord.pwd
            SUPERVISORD_USER: ${CFG_USER:?}
            USER: www-data
        hostname: phpmyadmin.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/phpmyadmin/${PHPMYADMIN_VERSION:-5.2.1}:v3.9.10
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
            - "8002:80"
            - "9102:9000"
            - "9002:9001"
        restart: unless-stopped
        secrets:
#            - mysql.pwd
#            - mysql_root.pwd
            - pma.pwd
            - supervisord.pwd
        volumes:
            - ./phpmyadmin/log:/var/log
#            - ./phpmyadmin/etc:/etc/phpmyadmin


    webdav:
        container_name: webdav
        dns: 10.3.1.4
        dns_search:
            - ubuntu.home
            - home
        environment:
            DEBUG_TRACE: ${DEBUG_TRACE:-0}
            WEBDAV_USER: ${CFG_USER:?}
            WEBDAV_PASS_FILE: /run/secrets/webdav.pwd
        hostname: webdav.s3.home
        image: ${DOCKER_REGISTRY:-s2.ubuntu.home:5000/}${CONTAINER_OS:-alpine}/webdav:${CONTAINER_TAG:-cfab041447577f40959ad90234157aa8ff7371f0c8b099a5bcd72265e3642e0e}
        logging:
            driver: json-file
            options:
                max-file: "3"
                max-size: "10m"
        networks:
            - support-net
        ports:
            - "8007:80"
        restart: unless-stopped
        secrets:
            - webdav.pwd
        volumes:
#            - /mnt/Synology:/webdav/nas:ro
            - ~:/webdav/home:ro
            - /:/webdav/root:ro
            - ../logs:/webdav/logs:ro
            - ./webdav/log:/var/log 


networks:
   support-net:
       ipam:
           config:
               - subnet: 172.31.1.0/24
       name: support-container-net

secrets:
   github.credentials:
     file: .secrets/secrets/credentials.github
   mysql.pwd:
     file: .secrets/secrets/bobb.pwd
   mysql_root.pwd:
     file: .secrets/secrets/bobb.pwd
   nagios.pwd:
     file: .secrets/secrets/bobb.pwd
   pma.pwd:
     file: .secrets/secrets/bobb.pwd
   supervisord.pwd:
     file: .secrets/secrets/bobb.pwd
   slack.token:
     file: .secrets/secrets/hubot_token.slack
   web_user.pwd:
     file: .secrets/secrets/bobb.pwd
   webdav.pwd:
     file: .secrets/secrets/bobb.pwd
   server.crt:
     file: .secrets/ssl/server.crt
   server.key:
     file: .secrets/ssl/server.key
   dhparam.pem:
     file: .secrets/ssl/dhparam.pem
